<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Письмо</title>

    <script src="libs/doT.min.js"></script>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/dedalus.js"></script>
    <script src="libs/dedalus-web.js"></script>
	<script src="libs/dedalus-dedlee.js"></script>
	<script src="libs/notify.min.js"></script>
	<script src="letter.js"></script>

    <link rel="stylesheet" href="style/story.css">

 </head>
<body>
	<div id="story" style="display: none"></div>
    <div id="dedleeSource" style="display: none">
		Письмо

		initscript
			story.topic = 1;
			story.write = false;
			story.score = 28;		
			
		afterEveryThing
			if (story.write) {
				newTopic();
			};
			
		beforeEveryPageTurn
			clearScreen();
			$('.notifyjs-corner').empty(); <!--убираем уведомление notify.js -->

		p.intro
			<div></div>
		p.start.first
			{{
			$.notify("<p><center>Привет!</center></p><p>Эта игра посвящается прекрасной половине человечества. Спасибо, что заботитесь о нас, вдохновляете нас на новые подвиги, и продолжаете любить несмотря ни на что.</p><p><center>♥ Приятной игры! ♥</center></p><p>johnbrown, 2018</p>", {position: "right", autoHideDelay: '15000', style: 'happyblue'}
			);
			}}
			<p>Тебя зовут Ганс Андерсен, и прошлый год был самым счастливым в твоей жизни. Во-первых, ты побывал в Швеции, в которую всегда, сколько себя помнишь, мечтал съездить. Во-вторых, ты поступил в  ((second.second))Королевский технологический институт(()). Ну, а, в-третьих, ты встретил Марту. Она, как и ты, тоже училась на промышленного дизайнера, но была в паралелльной группе.</p>

		pg.second
			{{story.disable('second');}}
			Учеба давалась тебе легко, проблем со шведским почти не было, да и какие проблемы могут быть, когда ((third.third))рядом с тобой(()) был такой учитель! После занятий ты подрабатывал в местной библиотеке, а Марта сидела с соседскими детьми. Кроме того, иногда, мать присылала тебе небольшую «гуманитарную помощь». Одним словом, деньги у тебя имелись. Конечно, недостаточно, чтобы купить машину (машины в Швеции, вообще, удовольствие не дешевое), но пару раз вы с Мартой ездили в горы, и, иногда, обедали в каком-нибудь хорошем ресторанчике.

		pg.third
			{{story.disable('third');}}
			А потом вы поссорились. Из-за ерунды, конечно, как это чаще всего бывает. Это случилось в декабре. Занятия уже закончились, и наступила тяжелая пора экзаменов. Кажется, она попросила тебя подобрать ((fourth.fourth))книги(()) по ее теме. Ты тогда засиделся в библиотеке до самой ночи. Тебе и самому нужно было готовиться, и ты немного злился на Марту, но, в конце-концов, любовь это ведь не только поцелуйчики в уютном номере отеле.
			
		pg.fourth
			{{story.disable('fourth');}}
			На следующий день ты отправился к Марте с перевязанной стопкой книг, втайне надеясь, что твои усилия будут вознаграждены. Она посмотрела на книги, которые ты принес, и сказала, что все это ерунда, и что тебе следует поискать получше. Ты разозлился, и ответил, что если ей так нужно, то пусть сама ищет, а у тебя послезавтра экзамен по математике. Ничего не сказав, она ушла к себе в комнату. Постояв немного в коридоре, ты ((fifth.fifth))вышел(()) из женского общежития.
			
		pg.fifth
			{{story.disable('fifth');}}
			И, вот, ты [[table]]плывешь домой[[]] в Копенгаген. Ты успешно сдал все экзамены, и скоро будешь встречать Рождество в кругу семьи и друзей. Еще до ссоры ты уговорил Марту провести каникулы у тебя дома. Но, все пошло не так. Иногда тебе казалось, что было бы лучше, если бы ты вообще никуда не уезжал.

		p.table
			<b>Паром «Нормандия»</b>
			<p>Ты сидишь за столиком в небольшом буфете на верхней палубе. Ранний час, за окном туман, смотреть совершенно не на что. Да, тебе и не хочется сейчас ни на что смотреть. Впрочем, оставаться в своей каюте наедине с тягостными мыслями тебе тоже не хотелось. Перед тобой на столе ((cocoa.cocoa))кружка с горячим какао(()) и вырванный из блокнота [[letter]]лист[[]].</p>

		pg.cocoa
			{{story.disable('cocoa');}}		
			Слишком приторное. Не сравнится с тем, какое готовит тебе мать.

							# Письмо

		p.letter
			{{story.write = true;
			newMessage();
			}}
			<div class = 'tearLink'>[[newLetter]]Порвать письмо[[]]</div>
			<div class = 'sendLink'>[[sendLetter]]Закончить письмо[[]]</div>
			<img src = 'pics/notebook.png'>
			<img id = "coffee" src = 'pics/coffee-2.png'>

		# '#0 Приветствие'
		
		o.ch1.objectClass "Здравствуй."
			"Написать"
				{{makeChoice(0);}}
		
		o.ch2.objectClass "Привет!"
			"Написать"
				{{makeChoice(1);}}
				
		o.ch3.objectClass "Милая Марта!"
			"Написать"
				{{makeChoice(2);}}
		
		# '#1 Рассказ о пароме' 

		o.ch4.objectClass "Я очень тоскую по тебе."
			"Написать"
				{{makeChoice(3);}}
		
		o.ch5.objectClass "На этом пароме просто ужасная еда!"
			"Написать"
				{{makeChoice(4);}}

		o.ch6.objectClass "Я рад, что еду домой."
			"Написать"
				{{makeChoice(5);}}
		
		# '#2 Причины ссоры' 
		
		o.ch7.objectClass "Наверное, мы оба виноваты..."
			"Написать"
				{{makeChoice(6);}}
		
		o.ch8.objectClass "В том, что произошло виноват я."
			"Написать"
				{{makeChoice(7);}}
				
		o.ch9.objectClass " Если бы не твое упрямство..."
			"Написать"
				{{makeChoice(8);}}

		# '#3 Воспоминания' 

		o.ch10.objectClass "Мне было интересно с тобой."
			"Написать"
				{{makeChoice(9);}}	
		
		o.ch11.objectClass "Наверное, лучше бы нам вообще не встречаться."
			"Написать"
				{{makeChoice(10);}}
				
		o.ch12.objectClass "Время, проведенное с тобой было лучшим..."
			"Написать"
				{{makeChoice(11);}}

		# '#4 Будущее Ганса' 
		
		o.ch13.objectClass "Мне нравится Швеция..."
			"Написать"
				{{makeChoice(12);}}
				
		o.ch14.objectClass "Думаю, что я вернусь в Данию."
			"Написать"
				{{makeChoice(13);}}
				
		o.ch15.objectClass "Не знаю, останусь ли я в Швеции."
			"Написать"
				{{makeChoice(14);}}

		# '#5 Будущее отношений' 
		
		o.ch16.objectClass "Давай помиримся..."
			"Написать"
				{{makeChoice(15);}}
				
		o.ch17.objectClass "Мне кажется, нам лучше остаться друзьями."
			"Написать"
				{{makeChoice(16);}}
				
		o.ch18.objectClass "Нужно время, чтобы восстановить наши отношения."
			"Написать"
				{{makeChoice(17);}}

		# '#6 Подпись' 
		
		o.ch19.objectClass "Твой друг, Ганс"
			"Написать"
				{{makeChoice(18);}}
				
		o.ch20.objectClass "Люблю тебя, Ганс"
			"Написать"
				{{makeChoice(19);}}
				
		o.ch21.objectClass "Ганс Андерсен"
			"Написать"
				{{makeChoice(20);}}
		
		p.newLetter
			{{story.write = false;}}
			
			<p>Ты рвешь листок, и выбрасываешь его в бак для грязной посуды. Это все не то! Ты вырываешь из блокнота [[letter]]чистый лист[[]]. </p>
			<p>На столике перед тобой недопитая ((coldCocoa.coldCocoa))чашка с какао(()).</p>

		pg.coldCocoa
			{{story.disable('coldCocoa');}}		
			Какао уже остыл.

		p.sendLetter
			{{story.write = false;}}
			<p>Быстро встав из-за стола, ты пошел в сувенирную лавку - там продавались конверты и марки. Теперь, после того, как ты излил душу бумаге ты почувствовал себя намного лучше.</p>
			<p>Едва сойдя с корабля, ты направился к ближайшему ((result.result))почтовому ящику(()). Ну, вот и все.</p>
			

		pg.result
			{{story.disable('result');}}
			{{? story.score < 54 && story.score > 3}}
				Через три дня в твой почтовый ящик упало [[incomeMail]]письмо[[]].
			{{??}}
				Прошло несколько дней, неделя. Каждый день, выходя из дому, ты, первым делом, проверял почтовый ящик, но никаких вестей от Марты не было. Наверное, если бы она хотела, то уже бы написала. Возможно также, что она хотела дождаться окончания каникул, чтобы, встретившись лично, обсудить ваши отношения. Однако, что-то в глубине души подсказывало тебе, что между вами все кончено.
				{{? story.score < 3}}
					{{notification();}}
				{{?}}
				{{? story.score > 53}}
				<p>Утром, за пару дней до окончания каникул, в дверь прихожей позвонили. Все еще спали, поэтому открывать пришлось тебе.</p>
				</p>На пороге стояла Марта.</p>
				</p>- Привет, - улыбаясь, чуть смущено, сказала она. - Я уже перестала надеяться, что ты пригласишь меня, поэтому сама приехала к тебе.</p>
				{{notification();}}
				{{?}}
				<p>[[table]]Переиграть историю[[]]</p>
			{{?}}
			

		p.incomeMail
			<img src = 'pics/sheet3.png'>
			{{incomeLetter();
			notification();
			}}		
			<p>[[table]]Переиграть историю[[]]</p>

    </div>

	<div id = 'letterContent'></div>

    <div id="wrapper">
        <div id="title"></div>

        <div id="inventoryHostWrapper">
            <h2></h2>
            <div id="inventoryHost"></div>
        </div>

        <div id="host"></div>
    </div>

    <div id="interactionHost"></div>

    <div id="undoStageHost"></div>

    <div id="footer">
        <a href="https://gitlab.com/johnbrown90210/The_Letter" target="_blank">Код и лицензии</a>
    </div>

    <script>
        $(function () {
            new DedalusWeb({
	 			dedleeSource	  : $('#dedleeSource'),
                domSource         : $('#story'),
                domTarget         : $('#host'),
                titleTarget       : $('#title'),
                inventoryTarget   : $('#inventoryHost'),
                interactionTarget : $('#interactionHost'),
                undoTarget        : $('#undoHost'),
                undoStageTarget   : $('#undoStageHost'),
                saveTarget        : $('#saveHost'),
                restoreTarget     : $('#restoreHost'),
                resetTarget       : $('#resetHost'),
            });
        });

    </script>
</body>
</html>
