html,
body {
	position			: absolute;
    font-family         : cmu;
    font-size           : 20px; /*16px*/
    color               : #000;
    background-color    : #F8F8F8;
    background-image    : url(coffee.png), url(background.jpg);
    /* coffee stain thanks to http://kitamikeita.deviantart.com/art/10-Coffee-Stains-PNG-208843978 */
    background-repeat   : no-repeat, repeat;
    background-position : bottom right, center center;
    margin              : 0;
    padding             : 0;
	margin-left			: 25%;
    height              : 100%;
    overflow            : visible;
}

@font-face {
	font-family		: Pecita;
	src				: url(../fonts/pecita/Pecita.otf);
}

@font-face {
	font-family		: helvetia-verbundene;
	src				: url(../fonts/helvetia-verbundene/helvetia-verbundene.ttf);
}

@font-face {
	font-family		: 'cmu';
	font-weight		: normal;
	src				: url(../fonts/cmu-typewriter/cmuntt.ttf);
}

@font-face {
	font-family		: 'cmu';
	font-weight		: bold;
	src				: url(../fonts/cmu-typewriter/cmuntb.ttf);
}


a {
    color           : #000;
    text-decoration : none;
    border-bottom   : 2px solid black;
}

p {
    margin-top    : 25px;
    margin-bottom : 25px;
	/*margin-right : 250px; /*new*/
}

#letterContent {
	position: absolute;
	left: 370px;
	width: 650px;
	top: 370px; /*100*/
	z-index: 1;
	opacity: 0;
}

img {
	position: absolute;
	z-index: 0;
	top: 250px;
	/*left: 450px;*/
	/*left: %;*/
}

#coffee {
	position: absolute;
	/*z-index: 0;*/
	top: -60px;
	left: 700px;
	/*opacity: 0.8;*/
	height: 450px;
	weight: 450px;
	border-radius: 50%;
}

.tearLink, .sendLink {
	display: none;
}

#wrapper {
    width            : 1000px;
    margin-left      : auto;
    margin-right     : auto;
    padding-bottom   : 100px;
    height           : 100%;
    padding-top      : 30px;
	text-align		 : justify; /*new*/
}

#story {
    display: none;
}

#host {
    width            : 800px;
    margin-left      : auto;
    margin-right     : auto;
}

#title {
    font-size     : 24px;
    font-weight   : bold;
    color         : #000;
    margin-bottom : 10px;
    width         : 800px;
    margin-left   : auto;
    margin-right  : auto;
    margin-bottom : 70px;
    text-align    : left;
    border-bottom : 2px solid black
}

#interactionHost {
    position            : absolute;
    overflow            : visible; /*auto*/
    /*margin              : 0;*/
	margin-left 		: -50%;
    background-image	: url(interaction.png);
    padding             : 5px;
    padding-top         : 15px;
    border-bottom       : none;
    height              : 34px;
	z-index				: 4;
	text-align			: center;
}

#interactionHost a {
	cursor:				url(../pics/GS-pen-300px_small.png) 0 20, auto;
}

#interactionHost a:hover {
	color: blue;
	border-bottom: none;
}


li a {
	color: #DAA520;
	border-bottom: none;
}

#interactionHost ul,
#inventoryHost ul {
    display : block;
    margin  : 0;
    padding : 0;
	font-size: 20px;
	font-family: Pecita;
}

#inventoryHost ul {
    padding-top: 10px;
}

#interactionHost li,
#inventoryHost li {
    float           : right;
    margin          : 0;
    padding         : 0;
    margin-right    : 10px; /*10*/
    list-style-type : none;
	padding-bottom: 10px; 
	z-index:1;
	width: 300px;
}

li a:hover {
	color: white;
	border-bottom  : none; /*2px solid blue;*/
}

#inventoryHost {
    overflow: auto;
}

#inventoryHostWrapper {
    width       : 350px; /*150px 350*/
    float       : right;
    left        : 33%; /*50% 30*/
    top         : 80px;
    margin-left : 400px;
    position    : absolute;
	z-index: 1;
}

#footer {
    bottom    : 10px;
    font-size : 18px;
    position  : fixed;
    right     : 20px;
}
#undoStageHost {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#inventoryHostWrapper a {
	animation: fadeIn 5s linear;
	-webkit-animation: fadeIn 5s linear;
};

